body {
    background-color: #fcde67;
}
header{
    font-family:monospace;
    /*background-color:lightgoldenrodyellow;*/
    
    /*border-style: ridge;*/
    border-radius: 6px;
    text-align:center;
   
   
   
    
}

.WelcomeText{
    
    font-size:xx-large;
    
    
   

}
.nameText{
    
    font-size:x-large;
    font-style:italic;
  
}